<!DOCTYPE html>
<html>
<head>
    <title >Películas con <%= actorName %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<h1 style="background-color: #FFF2D8;  padding: 10px;  border-radius: 5px;">Películas con <%= actorName %></h1>
<ul>
    <% movies.sort((a, b) => new Date(b.release_date) - new Date(a.release_date)).forEach((movie) => { %>
        <li><a href="/pelicula/<%= movie.movie_id %>"><%= movie.title %> (<%= new Date(movie.release_date).getFullYear() %>)</a></li>
    <% }); %>
</ul>
<p></p>
<div><a href="/"><button type="button" id="inicio">Inicio</button></a></div>
</body>
</html>
