<!DOCTYPE html>
<html>
<head>
    <title><%= movie.title %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<h1 style="background-color: #FFF2D8;  padding: 10px;  border-radius: 5px;"><%= movie.title %></h1>
<h3>Fecha: <%= movie.release_date %></h3>

<div class="director-writer-container">
    <div class="director-column">
        <!-- Muestro el director -->
        <h3>Dirigida por:</h3>
        <ul>
            <% movie.directors.forEach((director) => { %>
                <li>
                    <a href="/director/<%= director.crew_member_id %>"><%= director.crew_member_name %></a>
                </li>
            <% }); %>
        </ul>
    </div>

    <div class="writer-column">
        <!-- Muestro el escritor -->
        <h3>Escrita por:</h3>
        <ul>
            <% movie.writers.forEach((writer) => { %>
                <li>
                    <%= writer.crew_member_name %>
                </li>
            <% }); %>
        </ul>
    </div>
</div>

<!-- Muestro el argumento -->
<h3>Argumento:</h3>
<div id="overview" style="background-color: #FFFADD; padding: 20px; border-radius: 10px;" ><p><%= movie.overview %></p></div>

<!-- Muestro el elenco con sus roles -->
<h3>Elenco:</h3>
<div class="cast-container">
    <% movie.cast.sort((a, b) => a.cast_order - b.cast_order).forEach((actor) => { %>
        <div class="cast-item">
            <a href="/person/<%= actor.actor_id %>"><%= actor.actor_name %></a> - <%= actor.character_name %>
        </div>
    <% }); %>
</div>

<!-- Muestro el crew con sus trabajos -->
<h3>Crew:</h3>
<div class="crew-container">
    <% movie.crew.forEach((crewMember) => { %>
        <div class="crew-item">
            <%= crewMember.crew_member_name %> - <%= crewMember.department_name %> (<%= crewMember.job %>)
        </div>
    <% }); %>
</div>

<!-- Muestro los generos de la pelicula -->
<h3>Géneros:</h3>
<ul>
    <% movie.genres.forEach((genre) => { %>
        <li><%= genre %></li>
    <% }); %>
</ul>

<!-- Muestro las empresas de producción con sus paises -->
<h3>Empresas de Producción:</h3>
<ul>
    <% movie.companies.forEach((company) => { %>
        <li><%= company.company_name %> (País: <%= company.country_name %>)</li>
    <% }); %>
</ul>

<!-- Muestro las keywords -->
<h3>Palabras Clave:</h3>
<ul>
    <% movie.keywords.forEach((keyword) => { %>
        <li><%= keyword %></li>
    <% }); %>
</ul>

<!-- Muestro los idiomas -->
<h3>Idiomas:</h3>
<ul>
    <% movie.languages.forEach((language) => { %>
        <li><%= language %></li>
    <% }); %>
</ul>

<p></p>
<!-- Boton para volver al buscador -->
<div><a href="/"><button type="button" id="inicio" style="margin-bottom: 15px">Inicio</button></a></div>
</body>
</html>
