<!DOCTYPE html>
<html>
<head>
    <title><%= actorName %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

<% if (moviesActed.length > 0) { %>
    <h1 >Películas con <%= actorName %></h1>
    <ul>
        <% moviesActed.sort((a, b) => new Date(b.release_date) - new Date(a.release_date)).forEach((movie) => { %>
            <li><a href="/pelicula/<%= movie.movie_id %>"><%= movie.title %> (<%= new Date(movie.release_date).getFullYear() %>)</a></li>
        <% }); %>
    </ul>
<% } %>

<% if (moviesDirected.length > 0) { %>
    <h1>Películas dirigidas por <%= actorName %></h1>
    <ul>
        <% moviesDirected.sort((a, b) => new Date(b.release_date) - new Date(a.release_date)).forEach((movie) => { %>
            <li><a href="/pelicula/<%= movie.movie_id %>"><%= movie.title %> (<%= new Date(movie.release_date).getFullYear() %>)</a></li>
        <% }); %>
    </ul>
<% } %>

<p></p>
<div><a href="/"><button type="button" id="inicio">Inicio</button></a></div>
</body>
</html>
