<!DOCTYPE html>
<html>
<head>
    <title>Resultado de la Búsqueda</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<h1 style="background-color: #FFF2D8;  padding: 10px;  border-radius: 5px;">Resultado de la Búsqueda</h1>

<!-- Muestro los resultados, si es que hay alguno -->
<% if (results.movies.length === 0 && results.actors.length === 0 && results.directors.length === 0) { %>
    <p>No hay resultados.</p>
<% } else { %>

    <!-- Muestro los resultados de peliculas, si es que hay -->
    <% if (results.movies.length > 0) { %>
        <h2>Películas</h2>
        <ul>
            <% results.movies.forEach((movie) => { %>
                <li><a href="/pelicula/<%= movie.movie_id %>"><%= movie.title %></a></li>
            <% }); %>
        </ul>
    <% } %>

    <!-- Muestro los resultados de peliculas con la keyword, si es que hay -->
    <% if (results.keywords.length > 0) { %>
        <h2>Posibles Peliculas con la Keyword: <%= searchTerm %></h2>
        <ul>
            <% results.keywords.forEach((keyword) => { %>
                <li><a href="/pelicula/<%= keyword.movie_id%>"><%= keyword.title %></a></li>
            <% }); %>
        </ul>
    <% } %>

    <!-- Muestro los resultados de actores, si es que hay -->
    <% if (results.actors.length > 0) { %>
        <h2>Actores</h2>
        <div class="cast-container">
            <% results.actors.forEach((actor) => { %>
                <li><a href="/person/<%= actor.person_id %>"><%= actor.person_name %></a></li>
            <% }); %>
        </div>
    <% } %>

    <!-- Muestro los resultados de directores, si es que hay -->
    <% if (results.directors.length > 0) { %>
        <h2>Directores</h2>
        <div class="crew-container">
            <% results.directors.forEach((director) => { %>
                <li><a href="/person/<%= director.person_id %>"><%= director.person_name %></a></li>
            <% }); %>
        </div>
    <% } %>
<% } %>

<p></p>
<!-- Boton para volver al buscador -->
<div><a href="/"><button type="button" id="inicio">Inicio</button></a></div>
</body>
</html>
